page-login {
  .background-color {
    background-image: url('../assets/imgs/login.png');
  }

  .radius-panel {
    background-color: white;
    opacity: 0.8;
    border: 1px;
    border-radius: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;

  }
  .item {
    background-color: white;
    opacity: 0.8;
    //height: 40px;
    font-size: 1em;
  }
  .error-message {
    color: red;
  }
  p {
    color: white;
    
  }
  .center {
    display:block;
    margin: 20px;
  }
  .button {
    border-radius: 13px;
    margin: 0px;
  }


}
