<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Online tellimus</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding text-center>

  <p ><strong>Tagastan tühjad puudelit:</strong></p>

  <!-- <ion-chip color='no' style="zoom:1.2;">
    <ion-icon name="remove" color="danger" (click)="decReturnedBottle()"></ion-icon>
    <ion-label ><strong style="zoom:1.2;">{{order.returnedBottles}} tk </strong></ion-label>
    <ion-icon name="add" color="secondary" (click)="incReturnedBottle()"> </ion-icon>
  </ion-chip> -->

  <h2 text-center><span style="color:red;"(click)="decReturnedBottle()">-</span> &emsp;{{order.returnedBottles}} tk &emsp;<span style="color:green;" (click)="incReturnedBottle()">+</span></h2>
  <ion-item no-lines>
    <h2>{{data.vitenumber}}</h2>
    <h2>{{data.email}}</h2>
    <h2>{{order.deliveryAddress}}</h2>
  <br>
    <h2>{{order.bottles}} tk, {{order.deliveryDate | date}}, {{order.deliveryTime}}</h2>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-icon name="create" color="" item-start></ion-icon>
    <ion-input placeholder="Lisainfo" [(ngModel)]="order.information"></ion-input>
  </ion-item>
  <img *ngIf="!active" src="assets/imgs/plane-1.png" style="height: auto; margin-left: auto; margin-right: auto;">
  <img *ngIf="active" src="assets/imgs/plane-1.gif" style="height: auto; margin-left: auto; margin-right: auto;">

  <button ion-button color="secondary" full large (click)="animGo()" [disabled]="active">KINNITA</button>
</ion-footer>
