page-order {

  .radius-panel {
    background-color: #f0f2f1;
    border: 1px ;
    border-radius: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;

  }
  .p {
    font-size: 1em;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    color: #6C6960;
    height: 4px;
  }
  .c {
    font-size: 1em;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    //height: 24px;
  }
  .item {
    background-color: #f0f2f1;
    height: 70px;
    font-size: 1em;
    padding-left: 20px;
  }
  .img {
    padding-top: 20px;
    float: right;
  //  padding-right: 20px;
  }
  .button {
    border: 1px ;
    border-radius: 0px 0px 20px 20px;
    opacity: 1.0;
  }

}
