<!--
  Generated template for the InvoicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <div padding>
    <ion-segment [(ngModel)]="invoicelist">
      <ion-segment-button value="tellimused">
    Tellimused
    </ion-segment-button>
    <ion-segment-button value="arved">
    Arved
    </ion-segment-button>
    </ion-segment>
    </div>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
   </ion-refresher>
  <div [ngSwitch]="invoicelist">
  <ion-list *ngSwitchCase="'tellimused'">
    <ion-item *ngFor="let invoice of tellimused" >
      <ion-row>
        <ion-col col-9>
          <ion-icon name="{{invoice.condition}}" color="secondary"></ion-icon>

          {{invoice.number}}
          <p>
            {{invoice.deliveryAddress}}
          </p>
          <p>
            {{invoice.deliveryDate}}
            &emsp;
            {{invoice.deliveryTime}}
          </p>
        </ion-col>
        <ion-col col-3 text-right >
          {{invoice.amount}}€
        </ion-col>
    </ion-row>
    </ion-item>
  </ion-list>
</div>

<div [ngSwitch]="invoicelist">
<ion-list *ngSwitchCase="'arved'">
  <ion-list-header>
    Viitenumber: {{arved[0].viitenumber}}
  </ion-list-header>
  <ion-item *ngFor="let arve of arved" >
    <ion-row>
      <ion-col col-9>
        <ion-icon name="list-box" color="{{arve.color}}"></ion-icon>

        {{arve.number}}
        &emsp;
        {{arve.date}}
        <p>
          Maksetähtaeg: {{arve.payDate}}


        </p>
        <p>
        </p>

      </ion-col>
      <ion-col col-3 text-right >
        {{arve.saldo}}€
      </ion-col>
  </ion-row>
  </ion-item>
</ion-list>
</div>

</ion-content>
