page-ok {

  .background-image {
  background-image: url('../assets/imgs/Lahemaa.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  }
  h1 {
    color: #1074bc;
    font-size: 5em;
  }
  h3 {
    color: #1074bc;
  }
  a {
    background-image: url('http://app.heavesi.ee:443/goods/banner');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    //width: 100%;
    //opacity: 0.5;
  }
}
