page-home {
  //.adres.item-select {
  //  position: initial;
  //  margin-left: 0%;
  //  width: 100%;
  //  align-content: center;
  //}
  //.date {
   // position: initial;
   // margin-left: 0%;
    //min-width: 100%;
   // align-content: center;
  // text-align: center;
  //}
  //.my-select {
  //  min-width: 100%;
//}
  //.car {
    //display: block;
  //}
  .background-image {
  background-image: url('../assets/imgs/Sunrise_at_viru_bog.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.radius-panel {
  background-color: white;
  opacity: 0.8;
  border: 1px ;
  border-radius: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;

}
.item {
  background-color: transparent;
  height: 40px;
  font-size: 1em;
}
.p {
  font-size: 1em;
  padding-top: 10px;
  margin-bottom: 0px;
  padding-left: 40px;
  color: #6C6960
}
.h {
  padding-left: 40px;
}
.my-select {
  min-width: 100%;
  padding-right: 40px;
}
.bottle {
  float: right;
  width: 40%;
  margin-top: 10px;
  border-radius: 20px;
}
.button {
  border: 1px ;
  border-radius: 0px 0px 20px 20px;
  opacity: 1.0;
}
}
