<ion-header>
  <ion-navbar>
    <ion-title>
     {{storageservice.data.name}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="GoToSettings()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <p> </p>
  <img src="./assets/imgs/bottles1.png" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;">

  <h3 text-center><span style="color:red;" (click)="decBottle()">-</span> {{storageservice.order.bottles}} tk <span style="color:green;"(click)="incBottle()">+</span></h3>

    <ion-item text-center>
        <ion-datetime [(ngModel)]="order.deliveryDate" displayFormat="MMM DD, YYYY" min={{minDate}} max="2019"></ion-datetime>

      <ion-select [(ngModel)]="order.deliveryTime">
        <ion-option *ngFor="let delivery of deliveryTimes" >{{delivery}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item >
      <ion-label>Saatmissaadress</ion-label>
      <ion-select [(ngModel)]="storageservice.order.deliveryAddress" >
        <ion-option *ngFor="let address of storageservice.data.deliveryAddresses" >{{address}}</ion-option>
      </ion-select>
    </ion-item>

  <img src="./assets/imgs/auto.JPG" style="height: auto; margin-left: auto; margin-right: auto;">

  <button ion-button full large (click)="goToOrder()">TELLI</button>
</ion-content>

