page-home {
  //.adres.item-select {
  //  position: initial;
  //  margin-left: 0%;
  //  width: 100%;
  //  align-content: center;
  //}
  .date {
   // position: initial;
   // margin-left: 0%;
    //min-width: 100%;
   // align-content: center;
   text-align: center;
  }
  .my-select {
    min-width: 100%;
}
  .car {
    display: block;
  }
}
